<mat-toolbar role="heading" class="header">
  <div class="pageHeader">
    <img src="../../assets/CALOGO.jpg" class="oversize">
    <span>Complete Analytics</span>
      <span *ngIf="token.getToken() && token.getIsAdmin()!='true'" class="menu">
          <button routerLink="/mcq" mat-button class="button">MCQ</button>
          <button mat-button class="button">Analytics</button>
          <i class="fa fa-sign-out" aria-hidden="true" (click)="signout()"></i>
      </span>
      <span *ngIf="token.getToken() && token.getIsAdmin()=='true'" class="menu">
        <button routerLink="/admin" mat-button class="button">Approval</button>
        <button routerLink="/adminstudent" mat-button class="button">Student</button>
        <i class="fa fa-sign-out" aria-hidden="true" (click)="signout()"></i>
      </span>
   </div>
  
</mat-toolbar>

