<div id="fullscreen">
<div class="header" *ngIf="marks < 0 && timeleft &gt; 0.0">
<span>Test Name: {{test.testName}}</span>
<span class="duration">Time Remaining: {{timeleft|minuteSeconds}}</span>
<div class="qstn-number">
  <span *ngFor="let ans of answers;let index = index" class="qst-no">
    <app-question-checker [type]="ans.answerState" [questionNumber]=index+1 (clickQuestion)="clickQuestion(index)"></app-question-checker>
  </span>
</div>
<div *ngIf="counter < test.tests.length;then exam else finalSubmit"></div>
</div>
<mat-progress-spinner *ngIf="!testStarted"
        class="example-margin"
        [color]="primary"        
        [value]="50">
    </mat-progress-spinner>
<div class="mainContent" *ngIf="(marks >= 0 || timeleft<=0.0) && testStarted" >
  <mat-card class="test-card-result">
      <mat-card-content >
        <div class="result-line">
          <span>Test Name:
          <span>{{test.testName}}</span>
          </span>
        </div>
        <div class="result-line">
            <span>Marks:
            <span>{{marks}}/{{totalMarks}}</span>
            </span>
            <div class="marks-bar"></div>
            <div [ngStyle]="{'margin-left.%':-30+60*marks/totalMarks}"><i class="fa fa-caret-up" aria-hidden="true"></i></div>
          </div>
          <div *ngIf="comments?.length>0"  class="result-line"><b>Improvement Needed</b></div>
          <div *ngFor="let com of comments;let i=index"  class="result-line">
            <span>{{i+1}}.{{com}}</span>
          </div>
          <div>
            <button mat-raised-button class="submitButtonFinal"  (click)="ok()">Ok</button>
          </div>
      </mat-card-content>
  </mat-card>
</div>
</div>
<ng-template #exam>
    <div class="mainContent" *ngIf="marks < 0">
        <mat-card class="test-card">
            <mat-card-header>
                <mat-card-title>
                  <div class="qstnNo">Question #:{{counter+1}}</div>
    <div *ngFor="let qs of currentQuestion.question.split('||')">
      <div>{{qs}}</div>
    </div>
                  
                  <img *ngIf="currentQuestion.image?.length>0" src="{{currentQuestion.image}}"/>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-radio-group class="radio-group" [(ngModel)]="currentAnswer.answer">
                <mat-radio-button class="radio-button" *ngFor="let option of currentQuestion.options" [value]="option" (change)="onSelectionChange(option)">
                    <span class="wrap-mat-radio-label">
                  {{option}}
                  </span>
                </mat-radio-button>
              </mat-radio-group>
              
              <div>
              <button mat-raised-button class="submitButtonLeft" *ngIf="counter > 0" (click)="previous()">Previous</button>
              <button mat-raised-button *ngIf="answers[counter].answerState!='B'" class="submitButton"  (click)="bookmark()">Bookmark</button>
              <button mat-raised-button *ngIf="answers[counter].answerState=='B'" class="submitButton"  (click)="unmark()">Unmark</button>
              <button mat-raised-button class="submitButton" *ngIf="counter < test.tests.length" (click)="next()">Next/Skip</button>
              </div>
      <div>
              <!-- <button mat-raised-button class="submitButtonFinal"  (click)="submit()">Submit</button> -->
            </div>
            </mat-card-content>
        </mat-card>
      </div>
</ng-template>
<ng-template #finalSubmit>
    <div class="mainContent" *ngIf="marks < 0">
  <mat-card class="test-card">
    <mat-card-header>
        <mat-card-title>
          <div class="row">
            <div class="col-sm-6">
              <div>NO. of Questions Answered</div>
              <div>{{answeredTest}}</div>
             
            </div>
            <div class="col-sm-6">
                <div>Skipped Question</div>
                <div>{{test.tests.length-answeredTest}}</div>
              </div>
          </div>
    </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <span><button mat-raised-button class="submitButtonFinal"  (click)="submit()">Submit</button></span>
      <h3>Your Answers</h3>
      
      <div *ngFor="let test of answers;let index = index">{{index+1}}.
<div *ngFor="let ts of test.question.split('||')" class="question"><div>{{ts}}</div></div>
<div class="answer">Answer:{{test.answer}}</div>
      </div>
      <button mat-raised-button class="submitButtonLeft" *ngIf="counter > 0" (click)="previous()">Previous</button>
      <button mat-raised-button class="submitButtonFinal"  (click)="submit()">Submit</button>
    
    </mat-card-content>
</mat-card>
</div>
</ng-template>