<h1 class="header">Your test details</h1>
<div >
    <div class="row ">
        <mat-card class="col-md-6">
          <mat-card-header>
              <mat-card-title class="test-assigned-header">Tests for you</mat-card-title>
          </mat-card-header>
            <mat-card-content >
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 test-assign-table">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element;let i = index"> {{i+1}} </td>
    </ng-container>

    <!-- testName Column -->
    <ng-container matColumnDef="testName">
      <th mat-header-cell *matHeaderCellDef> Test Name</th>
      <td mat-cell *matCellDef="let element"> {{element.testName}} </td>
    </ng-container>
  
    <!-- testName Column -->
    <ng-container matColumnDef="assignedDate">
      <th mat-header-cell *matHeaderCellDef> Assigned Date</th>
      <td mat-cell *matCellDef="let element"> {{element.assigneddate |  date}} </td>
    </ng-container>
  
    <!-- date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date |  date}} </td>
    </ng-container>
  
    <!-- mark Column -->
    <ng-container matColumnDef="mark">
      <th mat-header-cell *matHeaderCellDef> Mark/Start </th>
      <td mat-cell *matCellDef="let element"> 

        <ng-container [ngTemplateOutlet]='element.marks?marks: startExam' [ngTemplateOutletContext]="{element:element}"></ng-container>
          <!-- {{element.mark}} 
        </div> -->

      </td>
    </ng-container>
    <ng-container matColumnDef="percentage">
      <th mat-header-cell *matHeaderCellDef> Percentage </th>
      <td mat-cell *matCellDef="let element" >
        <span *ngIf="element.totalQuestion"> {{round(element.marks*100/element.totalQuestion)}}% </span></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>  
  <ng-template #startExam let-element='element'>
    <i class="fa fa-arrow-circle-right" aria-hidden="true" (click)="start(element)"></i>
  </ng-template>

  <ng-template #marks let-element='element'>
    {{element.marks}} 
  </ng-template>
  </mat-card-content>
  </mat-card>

      <mat-card class="col-md-6">
        <mat-card-header>
            <mat-card-title class="test-assigned-header">Your Report Cards</mat-card-title>
        </mat-card-header>
        <mat-card-content >
            <mat-form-field class="rankForm">
                <mat-select   (selectionChange)="getMarks($event.value)" [(value)]="selectedTest" >
                  <mat-option *ngFor="let testName of testNameList" [value]="testName" >{{ testName }}</mat-option>
                </mat-select>
              </mat-form-field>
                <table mat-table [dataSource]="dataSourceResult" class="mat-elevation-z8 test-rank-table">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef> Rank </th>
                      <td mat-cell *matCellDef="let element;let i = index"> {{i+1}} </td>
                    </ng-container>
                
                    <!-- testName Column -->
                    <ng-container matColumnDef="testNameRank">
                      <th mat-header-cell *matHeaderCellDef> Name</th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="marksRank">
                        <th mat-header-cell *matHeaderCellDef> Marks</th>
                        <td mat-cell *matCellDef="let element"> 
                          <span *ngIf="element.totalQuestion">
                              {{round(element.marks*100/element.totalQuestion)}}%
                          </span>
                          <span *ngIf="!element.totalQuestion">
                              {{element.marks}}
                          </span>
                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumnsRank"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsRank;"></tr>
                    </table>
              
        </mat-card-content>
      </mat-card>
    </div>
   
</div>
