.header{
    text-align: center;
    font-family: 'Roboto';
    color:rgb(0, 17, 49) !important;
}
i{
    cursor: pointer;
    font-size:20px;
}
.test-assigned-header{
    font-size: 30px ;
    float:center;
    color:rgb(2, 42, 117);
}
td.mat-cell{
    color:rgb(59, 119, 231) !important;
    font-size: 20px;
}
th.mat-header-cell{
    color:rgb(1, 25, 71) !important;
    font-size: 16px;
}
rankForm{
    width:90%;
    padding: 10px;
}

test-rank-table{
    padding:20px;
}